# Created by https://www.toptal.com/developers/gitignore/api/c,c++
# Edit at https://www.toptal.com/developers/gitignore?templates=c,c++

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.o.32

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### C++ ###
# Prerequisites

# Compiled Object files
*.slo

# Precompiled Headers

# Linker files

# Debugger Files

# Compiled Dynamic libraries

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai

# Executables

# End of https://www.toptal.com/developers/gitignore/api/c,c++
MP-1/.vscode/settings.json
/.vscode
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/*

#for whatever reason vscode doesn't accept this so
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/simulate.bat
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.cache/wt/project.wpc
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.cache/wt/webtalk_pa.xml
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/compile.bat
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/compile.log
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/elaborate.bat
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/elaborate.log
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/sgp_rasterizer_behav.wdb
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/simulate.bat
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/simulate.log
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/webtalk.jou
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/webtalk.log
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/xelab.pb
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/xvhdl.log
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/xvhdl.pb
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/xsim.dir/sgp_rasterizer_behav/xsim.dbg
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/xsim.dir/sgp_rasterizer_behav/xsim.mem
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/xsim.dir/sgp_rasterizer_behav/xsim.reloc
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/xsim.dir/sgp_rasterizer_behav/xsim.rlx
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/xsim.dir/sgp_rasterizer_behav/xsim.rtti
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/xsim.dir/sgp_rasterizer_behav/xsim.type
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/xsim.dir/sgp_rasterizer_behav/xsim.xdbg
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/xsim.dir/sgp_rasterizer_behav/xsimkernel.log
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/xsim.dir/sgp_rasterizer_behav/xsimSettings.ini
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/xsim.dir/sgp_rasterizer_behav/webtalk/.xsim_webtallk.info
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/xsim.dir/sgp_rasterizer_behav/webtalk/usage_statistics_ext_xsim.html
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/xsim.dir/sgp_rasterizer_behav/webtalk/usage_statistics_ext_xsim.wdm
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/xsim.dir/sgp_rasterizer_behav/webtalk/usage_statistics_ext_xsim.xml
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/xsim.dir/sgp_rasterizer_behav/webtalk/xsim_webtalk.tcl
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/primitiveassembly_core.vdb
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/sgp_rasterizer_axi_lite_regs.vdb
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/sgp_rasterizer.vdb
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/sgp_types.vdb
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/shared_divider.vdb
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/trianglesetup_core.vdb
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/sim_1/behav/xsim/compile.bat

