# Created by https://www.toptal.com/developers/gitignore/api/c,c++
# Edit at https://www.toptal.com/developers/gitignore?templates=c,c++

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.o.32

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### C++ ###
# Prerequisites

# Compiled Object files
*.slo

# Precompiled Headers

# Linker files

# Debugger Files

# Compiled Dynamic libraries

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai

# Executables

# End of https://www.toptal.com/developers/gitignore/api/c,c++
MP-1/.vscode/settings.json
/.vscode
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.sim/*
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.cache/*
SGP/hw/ip/sgp_rasterizer/proj/sgp_rasterizer.cache/


# ignore everything in hw/proj/ EXCEPT .tcl files
**/hw/ip/vertexFetch_core/proj/*
**/hw/ip/sgp_viewPort/proj/*
**/hw/ip/sgp_renderOutput/proj/*
**/hw/ip/sgp_rasterizer/proj/*
**/hw/ip/sgp_vertexShader/proj/*
**/hw/ip/sgp_rasterizer/src/shared_divider/*
**/hw/proj/*
!*.tcl
!*.xci

#common folders should be symlinked, so ignore the contents of them
SGP/sw/src/Examples/common/*
SGP/sw/src/Games/common/*
SGP/sw/src/MP-1/common/*
SGP/sw/src/MP-2/common/*
SGP/sw/src/MP-3/common/*

